func Test{{.Type}}_String(t *testing.T) {
	values := []{{.Type}}{{{.Values}}}
	tags := []string{{{.Tags}}} 

	for i := range values {
		if s := values[i].String(); s != tags[i] {
			t.Error(s , tags[i]) 
		}	
	}
}

func Benchmark{{.Type}}_String(b *testing.B) {
	vs := []{{.Type}}{{{.Values}}} 
	v := vs[rand.Intn(len(vs))]
	
	for b.Loop() {
		_  = v.String()
	}
}
