func Test{{.Type}}_String(t *testing.T) {
	values := []{{.Type}}{{{.Values}}}
	tags := []string{{{.Tags}}} 

	for i := range values {
		if values[i].String() != tags[i] {
			t.Errorf("got(%s) != exp(%s)", values[i].String() , tags[i]) 
		}	
	}
}

func Benchmark{{.Type}}_String(b *testing.B) {
	var v string
	for i := 0; i < b.N; i++ {
		for _, c := range []{{.Type}}{{{.Values}}} {
			v = c.String()
		}
	}
	if len(v) > 1000 {
		b.Fatal("noop")
	}
}
